# exclude resources where the body is security-sensitive
- level: Metadata
  resources:
  - group: "route.openshift.io"
    resources: ["routes", "routes/status"]
  - resources: ["secrets"]
- level: Metadata
  resources:
  - group: "oauth.openshift.io"
    resources: ["oauthclients"]
# catch-all rule to log all other requests with request and response payloads
- level: RequestResponse