# exclude resources where the body is security-sensitive
- level: Metadata
  resources:
  - group: "route.openshift.io"
    resources: ["routes", "routes/status"]
  - resources: ["secrets"]
- level: Metadata
  resources:
  - group: "oauth.openshift.io"
    resources: ["oauthclients"]
# log request and response payloads for all write requests
- level: RequestResponse
  verbs:
  - update
  - patch
  - create
  - delete
  - deletecollection
# catch-all rule to log all other requests at the Metadata level.
- level: Metadata
  # Long-running requests like watches that fall under this rule will not
  # generate an audit event in RequestReceived.
  omitStages:
  - RequestReceived